# Standard Normal Distribution - Lab

## Introduction

In the previous lesson, we looked at the formula and a few toy examples to explain an observation's standard score and data standardization for normally distributed data. This lab, will shall standardize and visualize some normal distributions before we see standardization's real impact in machine learning in upcoming lessons. 

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before-after standardization to visually inspect the results. 

## Let's get started

> A Z-score tells us “how many standard deviations above or below the mean.” Every time you obtain a Z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

**1. Load, visualize and give general comments on the dataset. Use pandas for loading and inspecting the data.**

In [4]:
# Import libraries
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Read the yield data as a dataframe

data = pd.read_csv('yield.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 1 columns):
0    5000 non-null float64
dtypes: float64(1)
memory usage: 39.1 KB

In [5]:
data.head()

           0
0  39.741234
1  39.872055
2  44.331164
3  46.600623
4  40.694984

In [8]:
data.std()

0    6.003697
dtype: float64

In [35]:
# Your comments about the data here. 
#So each entry is a tree's total weight of all the apples it produced. We are focusing on the trees and their yields.
#There is 5000 entries, mean = 42.408, sigma = 6.00

**2. Write a simple sentence to explain what does each value represent in this data?**

In [ ]:
# Your answer here
#THE DAMN YIELD OF A DAMN TREE

**3. What does the 3-sigma rule say about yields of trees ?**

In [17]:
# Perform any calculations necessary here
sig1 = 5000*.68
sig2 = 5000*.98
sig3 = 5000*.99
print ('{} is roughly 65% of data. {} is roughly 97% of the data. {} is roughly 99% of the data'.format(int(sig1), int(sig2), int(sig3)))

3400 is roughly 65% of data. 4900 is roughly 97% of the data. 4950 is roughly 99% of the data

In [23]:
# Write your answer here

**4. Compute the Z-score for a tree yielding 35 pounds of apples. Interpret this Z-score.**

In [38]:
# Calculate z
mu = data.mean()
sigma = data.std()
z = (35-mu)/sigma
z

0   -1.233844
dtype: float64

In [3]:
# Interpret the result
#This tree is 1.23 to the left of the mean in our chart.

**5. Suppose a tree has a Z-score of 1.85. Interpret this Z-score. What is the yield of this tree?**

In [4]:
# Interpret the z score
It yeilds a good amount

In [20]:
# Calculate yield
apple_amt = mu + sigma*1.85
apple_amt

0    53.514462
dtype: float64

In [6]:
# What is the yield ?
53.514

**6. Convert each tree’s yield is converted to a Z-score so that “new” derived variable is “Z-score for weight”. The units are still the apple trees. For the data set of all Z-scores:**
* What is the shape? 
* The mean? 
* The standard deviation?

In [39]:
# Give your solution here 
norm = lambda x : (x-mu)/sigma
norm_data = norm(data)
norm_data.describe()

                  0
count  5.000000e+03
mean   1.824052e-14
std    1.000000e+00
min   -3.410634e+00
25%   -6.722073e-01
50%   -9.214364e-03
75%    6.747267e-01
max    3.854383e+00

In [40]:
# Your observations
z_data = [(x - data['0'].mean())/data['0'].std() for x in data['0']]
np.mean(np.array(z_data))

1.8198420548287685e-14

## Summary 

In this lab, you practiced your knowledge on the standard normal distribution!